<% content_for :title, "Editing parttime job" %>

<h1>シゴトを編集する</h1>

<%= render "form", parttime_job: @parttime_job %>

<br>

<div class="text-center">
  <%= link_to "戻る", @parttime_job ,class: "border-b" %>
</div>
