<% content_for :title, "New parttime job" %>

<h1>あたらしいシゴトを追加する</h1>

<%= render "form", parttime_job: @parttime_job %>

<br>

<div>
  <%= link_to "シゴト一覧に戻る", parttime_jobs_path ,class: "text-center"%>
</div>
