<% content_for :title, "New parttime job" %>

<h1>あたらしいシゴトを追加する</h1>

<% if logged_in? %>
  <%= render "form", parttime_job: @parttime_job %>
<% else %>
  <p class="text-center w-full mt-12 bg-[#3a3c3c] text-white px-4 py-2 rounded-[8px]">ログインするとシゴトを追加できます。</p>
<% end %>

<br>
