<header class="w-full h-[60px] px-[5%] bg-white flex justify-between items-center border-b-1 border-gray-200 fixed top-0 left-0 z-50">
  <p class="text-2xl font-bold items-center"><%= link_to "Jobs Reviewer", root_path, class: "" %></p>
  <nav class="space-x-2 sm:space-x-6 flex items-center text-sm">
      <%= link_to "マイレビュー", my_reviews_path, class: "btn btn-primary" %>

    <% if helpers.logged_in? %>
    <div class="flex items-center space-x-4">
    <%= button_to "ログアウト", logout_path, method: :delete, class: "font-bold px-4 py-1 bg-blue-600 text-white rounded-[99px]" %>    </div>

    <% else %>
    <%= link_to "ログイン", login_path, class: "font-bold px-4 py-1 bg-blue-600 text-white rounded-[99px]" %>
    <% end %>
  </nav>
</header>
