<header>
    <h1 class=""></h1>
</header>

<div class="w-[70%] m-auto block">
    <h1>お仕事を調べようね♡</h1>
    <p>このアプリは、あなたのスキルや経験に合ったお仕事を見つけるためのものです。</p>
    <p>まずは、以下のリンクからお仕事を検索してみてね！</p>
    <ul class="flex">
        <li class><%= link_to "お仕事一覧", parttime_jobs_path %></li>
        <li><%= link_to "新しいお仕事を投稿する", new_parttime_job_path %></li>
    </ul>
</div>