<h1>自分のレビュー</h1>

<% if @reviews.present? %>
  <% @reviews.each do |review| %>
    <div class="border-b border-gray-300 py-4 last:border-b-0">
      <p class="font-bold"><%= review.parttime_job.name %></p>
      <p><strong>内容：</strong> <%= review.content %></p>
      <p><strong>評価：</strong>
        <% 5.times do |i| %>
          <%= i < review.rating ? "★" : "☆" %>
        <% end %>
      </p>
    </div>
  <% end %>
<% else %>
  <p>まだレビューがありません。</p>
<% end %>
